@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 767px) {
    .navbar {
        position: fixed;
        left: 0px;
    }

    .article .article-header .article-title h2 {
        font-size: 12px!important;
    }

    .fixed-top-c {
        position: fixed;
        right: 0;
        top: 45px;
        left: 0;
        z-index: 1030;
    }

    .fixed-top-c .nav {
        display: inline-flex;
        flex-wrap: unset;
    }

    .fixed-top-c .card-body {
        overflow: scroll;
        padding: 0px;
    }

    .fixed-top-c .nav .nav-item {
        display: flex;
        align-items: center;
        border-right: 1px solid #e5e7eb;
        width: 130px;
        flex-direction: column;
    }

    /* .fixed-top-c .card {
        background-color: #f4f6f9;
    } */

    .fixed-top-c .nav-pills .nav-link {
        border-radius: 0px;
    }

    .fixed-top-c .nav-pills .nav-item .nav-link.active {
        box-shadow: none;
        color: #5850ec;
        font-weight: 700;
        background-color: transparent;
        border-bottom: 2px solid #5850ec;
    }

    /* .section > *:first-child {
        margin-top: 60px;
    } */

    .text-2xl {
        font-size: 1.2rem;
    }
    .navbar .container {
        padding-left: 10px;
    }

    .fixed-bottom-c {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }

    .fixed-bottom-c .nav {
        display: inline-flex;
        flex-wrap: unset;
        width: 100%;
    }
    
    .fixed-bottom-c .card-body {
        overflow: scroll;
        padding: 0px;
    }
    
    .fixed-bottom-c .nav .nav-item {
        display: flex;
        align-items: center;
        border-top: 1px solid #e5e7eb;
        border-right: 1px solid #e5e7eb;
        flex-direction: column;
        width: 50%;
    }
    
    /* .fixed-bottom-c .card {
        background-color: #f4f6f9;
    } */
    
    .fixed-bottom-c .nav-pills .nav-link {
        border-radius: 0px;
        padding-bottom: 0px;
    }
    
    .fixed-bottom-c .nav-pills .nav-item .nav-link.active {
        box-shadow: none;
        color: #5850ec;
        font-weight: 700;
        background-color: transparent;
        border-bottom: 1px solid #5850ec;
    }
    
    .fixed-bottom-c .fa-2x {
        font-size: 1.1em!important;
    }

    .fixed-bottom-c span {
        font-size: 12px!important;
    }

    .nav-pills .nav-item .nav-link {
        color: #6b7280;
    }  

    .section > *:first-child {
        margin-top: 35px;
    }
}

/* .navbar .nav-link, .navbar .nav-link.nav-link-user {
    color: #6c757d;
} */

.section .section-header {
    box-shadow: unset;
    background-color: transparent;
    padding: 10px 0px 0px 0px;
}

.section .section-title:before {
    background-color: #3f83f8;
}

.swal-icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px;
	display: inline-block;
	float: left;
}

.swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 24px;
    line-height: normal;
    text-align: left;
    margin-bottom: 0;
    margin: 45px 0px;
}
.swal-footer {
    text-align: right;
}
.article .article-header .article-title {
    text-align: center;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, #5850ec8a 98%, #a4cafe 100%); */
}
.navbar .nav-link {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.main-footer {
    margin-top: 20px;
}

section .section-title:before {
    height: 10px!important;
    width: 10px!important;
}

.section .section-lead {
    margin-left: 25px!important;
}

.article .article-header .article-title {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, #64748b 98%, #5850ec 100%);
}

.main-sidebar, .navbar, .main-content, .main-footer {
    transition: none;
}

.article .article-header .article-image {
    background-color: #f6f6f6;
}

.article .article-details {
    padding: 10px!important;
}

.article.article-style-b .article-details .article-title {
    margin-bottom: 0px!important;
}
