@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1020px) {
    .navbar {
        position: fixed;
    }
}

.navbar .nav-link, .navbar .nav-link.nav-link-user {
    color: #6c757d;
}

.section .section-header {
    box-shadow: unset;
    background-color: transparent;
    padding: 10px 0px 0px 0px;
}

.section .section-header {
    /* margin-bottom: 0px; */
}

.section .section-title:before {
    background-color: #3f83f8;
}

.swal-icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px;
	display: inline-block;
	float: left;
}
.swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 24px;
    line-height: normal;
    text-align: left;
    margin-bottom: 0;
    margin: 45px 0px;
}
.swal-footer {
    text-align: right;
}
.article .article-header .article-title {
    text-align: center;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, #5850ec8a 98%, #a4cafe 100%); */
}
.navbar .nav-link {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.main-footer {
    margin-top: 20px;
}