#app {
    overflow: hidden;
}

body {
    background-color: #f9fafb;
}

.bg-custom {
    background-color: #2969b0;
}

.bg-primary {
    background-color: #2969b0 !important;
}

#welcome {
    border-radius: 10px;
    border: 1px solid #e2e8f0;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1195px;
    }
}

@media (max-width: 1007px) {
    .section > *:first-child {
        margin-top: 18px;
    }

    .navbar {
        position: fixed;
        left: 0px;
    }

    .bg-custom {
        background-color: #fff!important;
    }

    .article .article-header .article-title h2 {
        font-size: 10px!important;
        line-height: 15px!important;
    }

    .fixed-top-c {
        position: fixed;
        right: 0;
        top: 70px;
        left: 0;
        z-index: 1030;
    }

    .fixed-top-c .nav {
        display: inline-flex;
        flex-wrap: unset;
    }

    .fixed-top-c .card-body {
        overflow: scroll!important;
        padding: 0px!important;
    }

    .fixed-top-c .nav .nav-item {
        display: flex;
        align-items: center;
        border-right: 1px solid #e5e7eb;
        min-width: 150px;   
        flex-direction: column;
    }

    /* .fixed-top-c .card {
        background-color: #f4f6f9;
    } */

    .fixed-top-c .nav-pills .nav-link {
        border-radius: 0px;
    }

    .fixed-top-c .nav-pills .nav-item .nav-link.active {
        box-shadow: none;
        color: #2969b0;
        font-weight: 700;
        background-color: transparent;
        border-bottom: 2px solid #2969b0;
    }

    .fixed-top-c .nav-pills .nav-item .nav-link {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* .section > *:first-child {
        margin-top: 60px;
    } */

    .text-2xl {
        font-size: 1.2rem;
    }
    .navbar .container {
        padding-left: 10px;
    }

    .fixed-bottom-c {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }

    .fixed-bottom-c .nav {
        display: inline-flex;
        flex-wrap: unset;
        width: 100%;
    }
    
    .fixed-bottom-c .card-body {
        overflow: scroll;
        padding: 0px;
    }
    
    .fixed-bottom-c .nav .nav-item {
        display: flex;
        align-items: center;
        border-top: 1px solid #e5e7eb;
        border-right: 1px solid #e5e7eb;
        flex-direction: column;
        width: 50%;
    }
    
    /* .fixed-bottom-c .card {
        background-color: #f4f6f9;
    } */
    
    .fixed-bottom-c .nav-pills .nav-link {
        border-radius: 0px;
        padding-bottom: 0px;
    }
    
    .fixed-bottom-c .nav-pills .nav-item .nav-link.active {
        box-shadow: none;
        color: #2969b0;
        font-weight: 700;
        background-color: transparent;
        border-bottom: 1px solid #2969b0;
    }
    
    .fixed-bottom-c .fa-2x {
        font-size: 1.1em!important;
    }

    .fixed-bottom-c span {
        font-size: 12px!important;
    }

    .nav-pills .nav-item .nav-link {
        color: #6b7280;
    }  

    /* .section > *:first-child {
        margin-top: 35px;
    } */

    .article .article-details {
        padding: 10px!important;
    }

    .article.article-style-b .article-details .article-title a {
        font-size: 14px;
    }

    .main-sidebar .sidebar-brand {
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        width: 100%;
        text-align: center;
        height: 150px;
        line-height: 60px;
        padding-left: 1.5rem!important;
        background-color: #2969b0 !important;
        /* background-color: #2969b0 !important;
        background-image: unset!important; */
    }

    /* .bg-navbar {
        background-color: #2969b0 !important;
        background-image: unset!important;
    } */

    /* a.active .article .article-header .article-image {
        border-bottom: 1px solid #2969b0;
    }
    
    a.active .article {
        border-left: 1px solid #2969b0;
        border-right: 1px solid #2969b0;
    }
    
    a.active .article .article-header {
        border-top: 1px solid #2969b0;
    } */

    .article.active .article-header .article-image {
        border-bottom: 1px solid #2969b0;
    }
    
    .article.active {
        border-left: 1px solid #2969b0;
        border-right: 1px solid #2969b0;
    }
    
    .article.active .article-header {
        border-top: 1px solid #2969b0;
    }

    .iframe-wrapper {
        overflow: hidden;
    }

    .iframe {
        margin-left: -40px;
        margin-right: -40px;
        display: flex;
        align-items: center;
    }
}

/* .navbar .nav-link, .navbar .nav-link.nav-link-user {
    color: #6c757d;
} */

.article .header-radius {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom: 1px solid #e2e8f0!important; */
}

.section .section-header {
    box-shadow: unset;
    background-color: transparent;
    padding: 10px 0px 0px 0px;
}

.section .section-title:before {
    background-color: #2969b0;
}

/* .swal-icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px;
	display: inline-block;
	/* float: left; */
/* } */

/* .swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 24px;
    line-height: normal;
    text-align: left;
    margin-bottom: 0;
    margin: 45px 0px;
}
*/ 
.swal-footer {
    text-align: right;
} 
.article .article-header .article-title {
    text-align: center;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, #2969b08a 98%, #a4cafe 100%); */
}
.navbar .nav-link {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.main-footer {
    margin-top: 20px;
}

section .section-title:before {
    height: 10px!important;
    width: 10px!important;
}

.section .section-lead {
    margin-left: 25px!important;
}

.article .article-header .article-title {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, #64748b 98%, #2969b0 100%);
}

.main-sidebar, .navbar, .main-content, .main-footer {
    transition: none;
}

.article .article-header .article-image {
    background-color: #f6f6f6;
}

.article.article-style-b .article-details .article-title {
    margin-bottom: 0px!important;
}

.article {
    /* box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%); */
    background-color: #f7f7f7;
    border-radius: 10px;
    border-left: 1px solid #e2e8f0;
    border-right: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
}

.article .article-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #e2e8f0;
    border-bottom: 0px;
}

.article.article-style-b .article-details {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #e2e8f0;
    border-top: 0px;
}

#app-kategori .article .article-header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #e2e8f0;
}

.bg-navbar {
    background-color: #9c27b0;
    background-image: linear-gradient(to right, #2196f3 , #9c27b0, #e91e63, #ff5722, #ffeb3b);
}

.min-h-screen {
    min-height: unset;
}

.article .article-header .article-title h2 {
    font-size: inherit;
}

.article.article-style-b .article-details .article-title a {
    font-size: 14px;
}

/* .navbar .nav-link.nav-link-user, .navbar .nav-link {
    color: rgba(107, 114, 128, var(--text-opacity))
} */

#welcome .bg-light {
    background-color: #f5f5f5 !important;
}
